Test the resulted library by calling the test function from the `app-kdtree` application.

**Note**: Don't forget to include the updated library header in the main application file.
